/* 방문자 집계 */
.section_ul {clear:both;border-top:1px solid #ccc; margin-top:10px; padding-top:10px; text-align:center; color:#666; font-size:11px; font-family:arial, Tahoma, Geneva, sans-serif,"돋음",dotum;}
.section_ul span{font-family:arial, Tahoma, Geneva, sans-serif; font-weight:bold; letter-spacing:-1px;}