@charset "EUC-KR";

html, body, form, fieldset, legend, ol, li {//앞에 기술된 녀석들은 해당 범위
 margin: 0;
 padding: 0;
 }

body {
 background: #ffffff;
 color: #111111;
 font-family: 맑은고딕,굴림,돋움;
 padding: 20px; 
}

form {
    background: #9cbc2c;
 -moz-border-radius: 5px;      //모질라 엔진의 경우
 -webkit-border-radius: 5px;   //웹킷 엔진의 경우
 -khtml-border-radius: 5px;    //khtml엔진의 경우
 border-radius: 5px;
 counter-reset: fieldsets; //form안의 fieldset을 초기화 한다.
 padding: 20px;
 width: 400px; 
}

  
form fieldset {
 border: none;
 margin-bottom: 10px;
}
  
form fieldset:last-of-type {
 margin-bottom: 0;
}
   
form legend {
 color: #384313;
 font-size: 16px;
 font-weight: bold;
 padding-bottom: 10px;
 text-shadow: 0 1px 1px #c0d576;
}
    
form > fieldset > legend:before {//form안의 fieldset에 legend앞에 있는 녀석...
 content: "Step " counter(fieldsets) ": ";//step + 숫자 + :
 counter-increment: fieldsets;//필드셋의 증가
}
    
form fieldset fieldset legend {
 color: #111111;
 font-size: 13px;
 font-weight: normal;
 padding-bottom: 0;
}
   
form ol li {
 background: #b9cf6a;
 background: rgba(255,255,255,.3);
 border-color: #e3ebc3;
 border-color: rgba(255,255,255,.6);
 border-style: solid;
 border-width: 2px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
 line-height: 30px;
 list-style: none;
 padding: 5px 10px;
 margin-bottom: 2px;
}
       
form ol ol li {
 background: none;
 border: none;
 float: left;
}
   
form label {
 float: left;
 font-size: 13px;
 width: 110px;
}
    
form fieldset fieldset label {
 background:none no-repeat left 50%;
 line-height: 20px;
 padding: 0 0 0 30px;
 width: auto;
}
     
     
form fieldset fieldset label:hover {
 cursor: pointer;
}
    
form input:not([type=radio]) {//인풋 타입이 라디오가 아니면...
 background: #ffffff;
 border: none;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 -khtml-border-radius: 3px;
 border-radius: 3px;
 font: italic 13px 맑은고딕,굴림,돋움;
 outline: none;
 padding: 5px;
 width: 200px;
}
     
form input:not([type=submit]):focus, {//인풋 타입이 서브밋이 아니면...
 background: #eaeaea;
}
     
    
form button {//버튼에 대한 스타일 지정
 background: #384313;
 border: none;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 -khtml-border-radius: 20px;
 border-radius: 20px;
 color: #ffffff;
 display: block;
 font: 16px 맑은고딕,굴림,돋움;
 letter-spacing: 1px;
 margin: auto;
 padding: 7px 25px;
 text-shadow: 0 1px 1px #000000;
 text-transform: uppercase;
}
     
form button:hover {
 background: #1e2506;
 cursor: pointer;//커서가 손가락으로 변한다.
}