<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cobatte.taxi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_4"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cobatte.taxi.Logo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cobatte.taxi.Popup"></activity>
        <activity 
            android:name="com.cobatte.taxi.Login"></activity>       
        <activity 
            android:name="com.cobatte.taxi.Register"></activity>
        <activity 
            android:name="com.cobatte.taxi.MainMenu"></activity>
        <activity 
            android:name="com.cobatte.taxi.RoomList"></activity>
        <activity 
            android:name="com.cobatte.taxi.CreateRoom"></activity>
        <activity
            android:name="com.cobatte.taxi.WaitingRoom"></activity>"
    </application>

</manifest>
